# Fetch Rewards Coding Exercise - Data Analyst

## First: Review Existing Unstructured Data and Diagram a New Structured Relational Data Model

Diagram submitted as schema.png file

In [1]:
import json
from psycopg2 import connect, Error

In [2]:
brands = []
print("Started Reading JSON file which contains multiple JSON document")
with open('/Users/devanshoojain/RPI_Sem_2/Fetch_rewards/fetch_rewards/brands.json') as json_data:
    for jsonObj in json_data:
        brandsdict = json.loads(jsonObj)
        brands.append(brandsdict)

Started Reading JSON file which contains multiple JSON document

In [82]:
# for brand in brands:
#     print(brand["_id"]["$oid"])

In [4]:
brands[0]

{'_id': {'$oid': '601ac115be37ce2ead437551'},
 'barcode': '511111019862',
 'category': 'Baking',
 'categoryCode': 'BAKING',
 'cpg': {'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'},
 'name': 'test brand @1612366101024',
 'topBrand': False}

In [5]:
if type(brandsdict) == list:
    first_record = brands[0]

In [6]:
#Getting coloumn names

columns_brand = list(brands[0].keys())
print ("\ncolumn names:", columns_brand)

column names: ['_id', 'barcode', 'category', 'categoryCode', 'cpg', 'name', 'topBrand']

In [7]:
columns_brand = [list(brandsdict.keys()) for x in brands[0]][0]

In [8]:
table_name = "brand_data"
sql_string = 'INSERT INTO {} '.format( table_name )
sql_string += "(" + ', '.join(columns_brand) + ")\nVALUES "

In [9]:
brands[0]["cpg"]["$id"]["$oid"]

'601ac114be37ce2ead437550'

### After some exploration, I felt that using just the JSON package, exploding the data stored in multi levels  coloumns was becoming more time taking. Hence I moved to the Pandas package using which I could easily read as well as explode the coloumn data.

In [10]:
import gzip
import shutil
import os
import pandas as pd
from ast import literal_eval
import json
from datetime import datetime
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)

In [11]:
receipts_data = pd.read_json('receipts.json',lines=True)
brands_data = pd.read_json('brands.json',lines=True)
users_data = pd.read_json('users.json',lines=True)

In [12]:
receipts_data.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [13]:
brands_data.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [14]:
users_data.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

An initial problem that I discovered was that brands table had several brands in there, however not all could be mapped  with the brandcode present in the Receipts table. I also found speeling mistakes in few brands leading tto a mismatch, e.g. brands table had "BEN & JERRY'S" while receipts table had "BEN AND JERRYS".

### Exploding the 'rewardsReceiptItemList' coloumn data from receipts_data table as it contains lot of relevant information and also a key value (brandcode) which we can later use to apply joins fron brand_data table

In [15]:
receipts_data = receipts_data.explode('rewardsReceiptItemList')

In [16]:
receipts_data.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6

In [17]:
receipts_data.reset_index(inplace=True)

In [18]:
receipts_data = receipts_data.fillna({'rewardsReceiptItemList':'{}'})

In [19]:
receipts_data.isna().sum()

index                         0
_id                           0
bonusPointsEarned          1401
bonusPointsEarnedReason    1401
createDate                    0
dateScanned                   0
finishedDate               1411
modifyDate                    0
pointsAwardedDate          1301
pointsEarned               1128
purchaseDate                458
purchasedItemCount          484
rewardsReceiptItemList        0
rewardsReceiptStatus          0
totalSpent                  435
userId                        0
dtype: int64

In [20]:
receipts_data = receipts_data.fillna({'rewardsReceiptItemList':'{}'})

In [21]:
receipts_data['rewardsReceiptItemList'] = receipts_data['rewardsReceiptItemList'].apply(lambda x:str(x))
receipts_data['rewardsReceiptItemList'] = receipts_data['rewardsReceiptItemList'].apply(literal_eval)

In [22]:
receipts_data.rewardsReceiptItemList

0       {'barcode': '4011', 'description': 'ITEM NOT F...
1       {'barcode': '4011', 'description': 'ITEM NOT F...
2       {'barcode': '028400642255', 'description': 'DO...
3       {'needsFetchReview': False, 'partnerItemId': '...
4       {'barcode': '4011', 'description': 'ITEM NOT F...
                              ...
7376                                                   {}
7377                                                   {}
7378    {'barcode': 'B076FJ92M4', 'description': 'muel...
7379    {'barcode': 'B07BRRLSVC', 'description': 'thin...
7380                                                   {}
Name: rewardsReceiptItemList, Length: 7381, dtype: object

In [23]:
type(receipts_data.rewardsReceiptItemList[0])

dict

In [24]:
rewardsReceiptItemList = pd.json_normalize(receipts_data['rewardsReceiptItemList'],errors='ignore',record_prefix='ItemList')\
.add_prefix('ItemList_')

In [25]:
# pd.set_option('display.max_rows', None, 'display.max_columns', None)
rewardsReceiptItemList

,ItemList_barcode,ItemList_description,ItemList_finalPrice,ItemList_itemPrice,ItemList_needsFetchReview,ItemList_partnerItemId,ItemList_preventTargetGapPoints,ItemList_quantityPurchased,ItemList_userFlaggedBarcode,ItemList_userFlaggedNewItem,ItemList_userFlaggedPrice,ItemList_userFlaggedQuantity,ItemList_needsFetchReviewReason,ItemList_pointsNotAwardedReason,ItemList_pointsPayerId,ItemList_rewardsGroup,ItemList_rewardsProductPartnerId,ItemList_userFlaggedDescription,ItemList_originalMetaBriteBarcode,ItemList_originalMetaBriteDescription,ItemList_brandCode,ItemList_competitorRewardsGroup,ItemList_discountedItemPrice,ItemList_originalReceiptItemText,ItemList_itemNumber,ItemList_originalMetaBriteQuantityPurchased,ItemList_pointsEarned,ItemList_targetPrice,ItemList_competitiveProduct,ItemList_originalFinalPrice,ItemList_originalMetaBriteItemPrice,ItemList_deleted,ItemList_priceAfterCoupon,ItemList_metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
receipts_merge = pd.merge(receipts_data, rewardsReceiptItemList, left_index=True, right_index=True, how='outer')

In [27]:
receipts_merge

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,ItemList_barcode,ItemList_description,ItemList_finalPrice,ItemList_itemPrice,ItemList_needsFetchReview,ItemList_partnerItemId,ItemList_preventTargetGapPoints,ItemList_quantityPurchased,ItemList_userFlaggedBarcode,ItemList_userFlaggedNewItem,ItemList_userFlaggedPrice,ItemList_userFlaggedQuantity,ItemList_needsFetchReviewReason,ItemList_pointsNotAwardedReason,ItemList_pointsPayerId,ItemList_rewardsGroup,ItemList_rewardsProductPartnerId,ItemList_userFlaggedDescription,ItemList_originalMetaBriteBarcode,ItemList_originalMetaBriteDescription,ItemList_brandCode,ItemList_competitorRewardsGroup,ItemList_discountedItemPrice,ItemList_originalReceiptItemText,ItemList_itemNumber,ItemList_originalMetaBriteQuantityPurchased,ItemList_pointsEarned,ItemList_targetPrice,ItemList_competitiveProduct,ItemList_originalFinalPrice,ItemList_originalMetaBriteItemPrice,ItemList_deleted,ItemList_priceAfterCoupon,ItemList_metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we still have coloumns other than the new exploded from rewardsReceiptItemList which are present in the form of dictionery, hence extracting the key values from their to make the dataset uniform

In [28]:
#Before extracting keys, dropping the NA values from date coloumns as those represent incomplete receipts

receipts_merge = receipts_merge.fillna({"finishedDate":"{}"})
receipts_merge = receipts_merge.fillna({"pointsAwardedDate":"{}"})
receipts_merge = receipts_merge.fillna({"purchaseDate":"{}"})

In [31]:
receipts_merge

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,ItemList_barcode,ItemList_description,ItemList_finalPrice,ItemList_itemPrice,ItemList_needsFetchReview,ItemList_partnerItemId,ItemList_preventTargetGapPoints,ItemList_quantityPurchased,ItemList_userFlaggedBarcode,ItemList_userFlaggedNewItem,ItemList_userFlaggedPrice,ItemList_userFlaggedQuantity,ItemList_needsFetchReviewReason,ItemList_pointsNotAwardedReason,ItemList_pointsPayerId,ItemList_rewardsGroup,ItemList_rewardsProductPartnerId,ItemList_userFlaggedDescription,ItemList_originalMetaBriteBarcode,ItemList_originalMetaBriteDescription,ItemList_brandCode,ItemList_competitorRewardsGroup,ItemList_discountedItemPrice,ItemList_originalReceiptItemText,ItemList_itemNumber,ItemList_originalMetaBriteQuantityPurchased,ItemList_pointsEarned,ItemList_targetPrice,ItemList_competitiveProduct,ItemList_originalFinalPrice,ItemList_originalMetaBriteItemPrice,ItemList_deleted,ItemList_priceAfterCoupon,ItemList_metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},{},{'$date': 1609687542000},{},5.0,{'$date': 1609632000000},1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},{},{'$date': 1614613361873},{},NaN,{},NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},{},{'$date': 1614607657664},{},NaN,{},NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},{},{'$date': 1614604049000},{},25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},{},{'$date': 1614604049000},{},25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},{},{'$date': 1614565354962},{},NaN,{},NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
type(receipts_merge['finishedDate'][3])

str

In [33]:
#Going order wise:

receipts_merge['_id'] = receipts_merge['_id'].apply(lambda x: x['$oid'])

receipts_merge['createDate'] = receipts_merge['createDate'].apply(lambda x: x['$date'])
# receipts_merge['createDate'] = receipts_merge['createDate'].apply(literal_eval)

receipts_merge['dateScanned'] = receipts_merge['dateScanned'].apply(lambda x: x['$date'])
# receipts_merge['dateScanned'] = receipts_merge['dateScanned'].apply(literal_eval)

receipts_merge['finishedDate'] = receipts_merge['finishedDate'].apply(lambda x: 0 if type(x) == str else x['$date'])
# receipts_merge['finishedDate'] = receipts_merge['finishedDate'].apply(literal_eval)

receipts_merge['modifyDate'] = receipts_merge['modifyDate'].apply(lambda x: x['$date'])
# receipts_merge['modifyDate'] = receipts_merge['modifyDate'].apply(literal_eval)

receipts_merge['pointsAwardedDate'] = receipts_merge['pointsAwardedDate'].apply(lambda x: 0 if type(x) == str else x['$date'])
# receipts_merge['pointsAwardedDate'] = receipts_merge['pointsAwardedDate'].apply(literal_eval)

receipts_merge['purchaseDate'] = receipts_merge['purchaseDate'].apply(lambda x: 0 if type(x) == str else x['$date'])
# receipts_merge['purchaseDate'] = receipts_merge['purchaseDate'].apply(literal_eval)

In [34]:
receipts_merge

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,ItemList_barcode,ItemList_description,ItemList_finalPrice,ItemList_itemPrice,ItemList_needsFetchReview,ItemList_partnerItemId,ItemList_preventTargetGapPoints,ItemList_quantityPurchased,ItemList_userFlaggedBarcode,ItemList_userFlaggedNewItem,ItemList_userFlaggedPrice,ItemList_userFlaggedQuantity,ItemList_needsFetchReviewReason,ItemList_pointsNotAwardedReason,ItemList_pointsPayerId,ItemList_rewardsGroup,ItemList_rewardsProductPartnerId,ItemList_userFlaggedDescription,ItemList_originalMetaBriteBarcode,ItemList_originalMetaBriteDescription,ItemList_brandCode,ItemList_competitorRewardsGroup,ItemList_discountedItemPrice,ItemList_originalReceiptItemText,ItemList_itemNumber,ItemList_originalMetaBriteQuantityPurchased,ItemList_pointsEarned,ItemList_targetPrice,ItemList_competitiveProduct,ItemList_originalFinalPrice,ItemList_originalMetaBriteItemPrice,ItemList_deleted,ItemList_priceAfterCoupon,ItemList_metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1609687531000,1609687536000,1609687531000,500.0,1609632000000,5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1609687483000,1609687488000,1609687483000,150.0,1609601083000,2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,0,1609687542000,0,5.0,1609632000000,1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1609687534000,1609687539000,1609687534000,5.0,1609632000000,4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,0,1614613361873,0,NaN,0,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,0,1614607657664,0,NaN,0,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,0,1614604049000,0,25.0,1597622400000,2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,0,1614604049000,0,25.0,1597622400000,2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,0,1614565354962,0,NaN,0,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
type(receipts_merge['createDate'][0])

numpy.int64

In [36]:
import datetime 
receipts_merge['createDate'] = receipts_merge['createDate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
receipts_merge['dateScanned'] = receipts_merge['dateScanned'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
receipts_merge['finishedDate'] = receipts_merge['finishedDate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
receipts_merge['modifyDate'] = receipts_merge['modifyDate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
receipts_merge['purchaseDate'] = receipts_merge['purchaseDate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
receipts_merge['pointsAwardedDate'] = receipts_merge['pointsAwardedDate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))

In [37]:
receipts_merge

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,ItemList_barcode,ItemList_description,ItemList_finalPrice,ItemList_itemPrice,ItemList_needsFetchReview,ItemList_partnerItemId,ItemList_preventTargetGapPoints,ItemList_quantityPurchased,ItemList_userFlaggedBarcode,ItemList_userFlaggedNewItem,ItemList_userFlaggedPrice,ItemList_userFlaggedQuantity,ItemList_needsFetchReviewReason,ItemList_pointsNotAwardedReason,ItemList_pointsPayerId,ItemList_rewardsGroup,ItemList_rewardsProductPartnerId,ItemList_userFlaggedDescription,ItemList_originalMetaBriteBarcode,ItemList_originalMetaBriteDescription,ItemList_brandCode,ItemList_competitorRewardsGroup,ItemList_discountedItemPrice,ItemList_originalReceiptItemText,ItemList_itemNumber,ItemList_originalMetaBriteQuantityPurchased,ItemList_pointsEarned,ItemList_targetPrice,ItemList_competitiveProduct,ItemList_originalFinalPrice,ItemList_originalMetaBriteItemPrice,ItemList_deleted,ItemList_priceAfterCoupon,ItemList_metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 10:25:31.000,2021-01-03 10:25:31.000,2021-01-03 10:25:31,2021-01-03 10:25:36.000,2021-01-03 10:25:31,500.0,2021-01-02 19:00:00,5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 10:24:43.000,2021-01-03 10:24:43.000,2021-01-03 10:24:43,2021-01-03 10:24:48.000,2021-01-03 10:24:43,150.0,2021-01-02 10:24:43,2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 10:24:43.000,2021-01-03 10:24:43.000,2021-01-03 10:24:43,2021-01-03 10:24:48.000,2021-01-03 10:24:43,150.0,2021-01-02 10:24:43,2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 10:25:37.000,2021-01-03 10:25:37.000,1969-12-31 19:00:00,2021-01-03 10:25:42.000,1969-12-31 19:00:00,5.0,2021-01-02 19:00:00,1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 10:25:34.000,2021-01-03 10:25:34.000,2021-01-03 10:25:34,2021-01-03 10:25:39.000,2021-01-03 10:25:34,5.0,2021-01-02 19:00:00,4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01 10:42:41.873,2021-03-01 10:42:41.873,1969-12-31 19:00:00,2021-03-01 10:42:41.873,1969-12-31 19:00:00,NaN,1969-12-31 19:00:00,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01 09:07:37.664,2021-03-01 09:07:37.664,1969-12-31 19:00:00,2021-03-01 09:07:37.664,1969-12-31 19:00:00,NaN,1969-12-31 19:00:00,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 08:07:28.000,2021-03-01 08:07:28.000,1969-12-31 19:00:00,2021-03-01 08:07:29.000,1969-12-31 19:00:00,25.0,2020-08-16 20:00:00,2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 08:07:28.000,2021-03-01 08:07:28.000,1969-12-31 19:00:00,2021-03-01 08:07:29.000,1969-12-31 19:00:00,25.0,2020-08-16 20:00:00,2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,603c4fea0a7217c72c000389,NaN,NaN,2021-02-28 21:22:34.962,2021-02-28 21:22:34.962,1969-12-31 19:00:00,2021-02-28 21:22:34.962,1969-12-31 19:00:00,NaN,1969-12-31 19:00:00,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Dropping the dict field rewardsReceiptItemList which is present now in the exploded format

receipts_merge = receipts_merge.drop(columns= 'rewardsReceiptItemList')

In [39]:
#Converting coloumn names to lowercase

receipts_merge.columns = receipts_merge.columns.str.lower()

Repeating the process for brands table

In [40]:
brands_data.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

Exploding was'nt required in cpg as it is not a list of dictionaries, hence extracting just the oid and reference key values

In [42]:
cpg = pd.json_normalize(brands_data['cpg'],errors='ignore',record_prefix='cpg')\
.add_prefix('cpg_')

In [43]:
_id = pd.json_normalize(brands_data['_id'],errors='ignore',record_prefix='_id')\
.add_prefix('_id')

In [44]:
cpg

     cpg_$ref              cpg_$id.$oid
0        Cogs  601ac114be37ce2ead437550
1        Cogs  5332f5fbe4b03c9a25efd0ba
2        Cogs  601ac142be37ce2ead437559
3        Cogs  601ac142be37ce2ead437559
4        Cogs  5332fa12e4b03c9a25efd1e7
...       ...                       ...
1162     Cogs  5f77274dbe37ce6b592e90bf
1163     Cogs  53e10d6368abd3c7065097cc
1164     Cogs  5332fa12e4b03c9a25efd1e7
1165     Cogs  5332f5f6e4b03c9a25efd0b4
1166     Cogs  6026d757be37ce6369301467

[1167 rows x 2 columns]

In [45]:
brands_merge_t = pd.merge(brands_data, cpg, left_index=True, right_index=True, how='outer')

In [46]:
brands_merge = pd.merge(brands_merge_t, _id, left_index=True, right_index=True, how='outer')

In [47]:
brands_merge = brands_merge.drop(columns=['_id','cpg'])

In [48]:
brands_merge.columns = brands_merge.columns.str.lower()

In [72]:
brands_merge

,barcode,category,categorycode,name,topbrand,brandcode,cpg_$ref,cpg_$id.$oid,_id$oid
0,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550,601ac115be37ce2ead437551
1,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba,601c5460be37ce2ead43755f
2,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559,601ac142be37ce2ead43755d
3,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559,601ac142be37ce2ead43755a
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7,601ac142be37ce2ead43755e
...,...,...,...,...,...,...,...,...,...
1162,511111116752,Baking,BAKING,test brand @1601644365844,NaN,NaN,Cogs,5f77274dbe37ce6b592e90bf,5f77274dbe37ce6b592e90c0
1163,511111706328,Breakfast & Cereal,NaN,Dippin Dots Cereal,NaN,DIPPIN DOTS CEREAL,Cogs,53e10d6368abd3c7065097cc,5dc1fca91dda2c0ad7da64ae
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,Cogs,5332fa12e4b03c9a25efd1e7,5f494c6e04db711dd8fe87e7
1165,511111400608,Grocery,NaN,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,Cogs,5332f5f6e4b03c9a25efd0b4,5a021611e4b00efe02b02a57
1166,511111019930,Baking,BAKING,test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,Cogs,6026d757be37ce6369301467,6026d757be37ce6369301468

No exploding is required in users table, however we will have to extract the key values from the dictionery fields and convert it to string for further processing

In [49]:
users_data.isna().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [50]:
#Dropping NA values

users_data = users_data.dropna(subset=['lastLogin'])

In [51]:
users_data['_id'] = users_data['_id'].apply(lambda x: x['$oid'])

In [52]:
users_data['createdDate'] = users_data['createdDate'].apply(lambda x: x['$date'])

In [53]:
users_data['lastLogin'] = users_data['lastLogin'].apply(lambda x: x['$date'])

In [54]:
users_data.columns = users_data.columns.str.lower()

In [69]:
users_data['createddate'] = users_data['createddate'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))
users_data['lastlogin'] = users_data['lastlogin'].apply(lambda x:datetime.datetime.fromtimestamp(x/1000))

In [70]:
users_data

,_id,active,createddate,lastlogin,role,signupsource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04.800,2021-01-03 10:25:37.858,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04.800,2021-01-03 10:25:37.858,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04.800,2021-01-03 10:25:37.858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30.554,2021-01-03 10:25:30.597,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04.800,2021-01-03 10:25:37.858,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204,fetch-staff,NaN,NaN

In [55]:
#Exctracting coloumn names of new tables

columns_receipts = print(receipts_merge.columns)

Index(['index', '_id', 'bonuspointsearned', 'bonuspointsearnedreason',
       'createdate', 'datescanned', 'finisheddate', 'modifydate',
       'pointsawardeddate', 'pointsearned', 'purchasedate',
       'purchaseditemcount', 'rewardsreceiptstatus', 'totalspent', 'userid',
       'itemlist_barcode', 'itemlist_description', 'itemlist_finalprice',
       'itemlist_itemprice', 'itemlist_needsfetchreview',
       'itemlist_partneritemid', 'itemlist_preventtargetgappoints',
       'itemlist_quantitypurchased', 'itemlist_userflaggedbarcode',
       'itemlist_userflaggednewitem', 'itemlist_userflaggedprice',
       'itemlist_userflaggedquantity', 'itemlist_needsfetchreviewreason',
       'itemlist_pointsnotawardedreason', 'itemlist_pointspayerid',
       'itemlist_rewardsgroup', 'itemlist_rewardsproductpartnerid',
       'itemlist_userflaggeddescription', 'itemlist_originalmetabritebarcode',
       'itemlist_originalmetabritedescription', 'itemlist_brandcode',
       'itemlist_competitorrewardsgroup', 'itemlist_discounteditemprice',
       'itemlist_originalreceiptitemtext', 'itemlist_itemnumber',
       'itemlist_originalmetabritequantitypurchased', 'itemlist_pointsearned',
       'itemlist_targetprice', 'itemlist_competitiveproduct',
       'itemlist_originalfinalprice', 'itemlist_originalmetabriteitemprice',
       'itemlist_deleted', 'itemlist_priceaftercoupon',
       'itemlist_metabritecampaignid'],
      dtype='object')

In [56]:
receipts_merge.dtypes

index                                                   int64
_id                                                    object
bonuspointsearned                                     float64
bonuspointsearnedreason                                object
createdate                                     datetime64[ns]
datescanned                                    datetime64[ns]
finisheddate                                   datetime64[ns]
modifydate                                     datetime64[ns]
pointsawardeddate                              datetime64[ns]
pointsearned                                          float64
purchasedate                                   datetime64[ns]
purchaseditemcount                                    float64
rewardsreceiptstatus                                   object
totalspent                                            float64
userid                                                 object
itemlist_barcode                                       object
itemlist_description                                   object
itemlist_finalprice                                    object
itemlist_itemprice                                     object
itemlist_needsfetchreview                              object
itemlist_partneritemid                                 object
itemlist_preventtargetgappoints                        object
itemlist_quantitypurchased                            float64
itemlist_userflaggedbarcode                            object
itemlist_userflaggednewitem                            object
itemlist_userflaggedprice                              object
itemlist_userflaggedquantity                          float64
itemlist_needsfetchreviewreason                        object
itemlist_pointsnotawardedreason                        object
itemlist_pointspayerid                                 object
itemlist_rewardsgroup                                  object
itemlist_rewardsproductpartnerid                       object
itemlist_userflaggeddescription                        object
itemlist_originalmetabritebarcode                      object
itemlist_originalmetabritedescription                  object
itemlist_brandcode                                     object
itemlist_competitorrewardsgroup                        object
itemlist_discounteditemprice                           object
itemlist_originalreceiptitemtext                       object
itemlist_itemnumber                                    object
itemlist_originalmetabritequantitypurchased           float64
itemlist_pointsearned                                  object
itemlist_targetprice                                   object
itemlist_competitiveproduct                            object
itemlist_originalfinalprice                            object
itemlist_originalmetabriteitemprice                    object
itemlist_deleted                                       object
itemlist_priceaftercoupon                              object
itemlist_metabritecampaignid                           object
dtype: object

In [57]:
brands_merge.dtypes

barcode           int64
category         object
categorycode     object
name             object
topbrand        float64
brandcode        object
cpg_$ref         object
cpg_$id.$oid     object
_id$oid          object
dtype: object

In [58]:
users_data.dtypes

_id             object
active            bool
createddate      int64
lastlogin        int64
role            object
signupsource    object
state           object
dtype: object

In [59]:
#Connecting to db and creating tables

import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [60]:
engine = create_engine('postgresql://postgres:password@localhost:5432/fetch_rewards')
receipts_merge.to_sql('receipts', engine)

In [61]:
engine = create_engine('postgresql://postgres:password@localhost:5432/fetch_rewards')
brands_merge.to_sql('brands', engine)

In [71]:
engine = create_engine('postgresql://postgres:password@localhost:5432/fetch_rewards')
users_data.to_sql('users', engine)

## Second: Write a query that directly answers a predetermined question from a business stakeholder

Functioning Queries are submitted in the sql file (queries.sql)

## Third: Evaluate Data Quality Issues in the Data Provided

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [75]:
brands_cat = pd.value_counts(brands_merge.category)
brands_cat = pd.DataFrame(brands_cat)

brands_cat.columns =['Category_Count']
brands_cat

                             Category_Count
Baking                                  369
Beer Wine Spirits                        90
Snacks                                   75
Candy & Sweets                           71
Beverages                                63
Health & Wellness                        44
Magazines                                44
Breakfast & Cereal                       40
Grocery                                  39
Dairy                                    33
Condiments & Sauces                      27
Frozen                                   24
Personal Care                            20
Baby                                     18
Canned Goods & Soups                     12
Beauty                                    9
Beauty & Personal Care                    6
Cleaning & Home Improvement               6
Deli                                      6
Household                                 5
Dairy & Refrigerated                      5
Bread & Bakery                            5
Outdoor                                   1

In [78]:
receipts_merge.isna().sum()

index                                             0
_id                                               0
bonuspointsearned                              1401
bonuspointsearnedreason                        1401
createdate                                        0
datescanned                                       0
finisheddate                                      0
modifydate                                        0
pointsawardeddate                                 0
pointsearned                                   1128
purchasedate                                      0
purchaseditemcount                              484
rewardsreceiptstatus                              0
totalspent                                      435
userid                                            0
itemlist_barcode                               4291
itemlist_description                            821
itemlist_finalprice                             614
itemlist_itemprice                              614
itemlist_needsfetchreview                      6568
itemlist_partneritemid                          440
itemlist_preventtargetgappoints                7023
itemlist_quantitypurchased                      614
itemlist_userflaggedbarcode                    7044
itemlist_userflaggednewitem                    7058
itemlist_userflaggedprice                      7082
itemlist_userflaggedquantity                   7082
itemlist_needsfetchreviewreason                7162
itemlist_pointsnotawardedreason                7041
itemlist_pointspayerid                         6114
itemlist_rewardsgroup                          5650
itemlist_rewardsproductpartnerid               5112
itemlist_userflaggeddescription                7176
itemlist_originalmetabritebarcode              7310
itemlist_originalmetabritedescription          7371
itemlist_brandcode                             4781
itemlist_competitorrewardsgroup                7106
itemlist_discounteditemprice                   1612
itemlist_originalreceiptitemtext               1621
itemlist_itemnumber                            7228
itemlist_originalmetabritequantitypurchased    7366
itemlist_pointsearned                          6454
itemlist_targetprice                           7003
itemlist_competitiveproduct                    6736
itemlist_originalfinalprice                    7372
itemlist_originalmetabriteitemprice            7372
itemlist_deleted                               7372
itemlist_priceaftercoupon                      6425
itemlist_metabritecampaignid                   6518
dtype: int64

## Fourth: Communicate with Stakeholders

Construct an email or slack message that is understandable to a product or business leader who isnt familiar with your day to day work. This part of the exercise should show off how you communicate and reason about data with others. Commit your answers to the git repository along with the rest of your exercise.

What questions do you have about the data?
How did you discover the data quality issues?
What do you need to know to resolve the data quality issues?
What other information would you need to help you optimize the data assets you're trying to create?
What performance and scaling concerns do you anticipate in production and how do you plan to address them?

EMAIL:
    
Dear Team,
    
Hope you are doing well!
    
I performed analytics on fetch_rewards data where I used the given json files (users, brands and receipts).
While cleaning the data using python I relaised the coloumns need to be further exploded as it contained more 
information. After cleaning, I pushed the data to postgres sql database. Some of the insights generated are 
below:
    
1. The first thing I noticed was that not all the Brandcodes in the receipts table matched with those present 
in the brands table. A potential reason for that could be that Fetch Rewards had no partnership with them
    
2. The datasets had a lot of missing values and hence instead of just dropping the entire rows, I decided to 
fill them with NULL values
    
3. Primary key of any dataset wasn't provided upfront. It would have be easier to build relationships between 
the 3 tables in case the keys were provided.
    
4. The multilayering of data in single coloumn, like 'rewardsReceiptItemList' coloumn in receipts table took 
good amount of effort as well as time before I could explode all the data from it.
    
Lastly, I had a few concerns and questions about the discrepancies and duplications present in the data which I would like to discuss over a call. Request you to kindly suggest a suitable time to discuss the same.
    
Thanks & Regrads,                             
Devanshoo Jain